@font-face {
	font-family: "Departure Mono";
	src: url("https://static.orcachill.in/fonts/DepartureMono-Regular-2BZob_Zz.woff2") format("woff2");
	font-display: swap;
}

body {
	margin: 4rem;
	background: #000;
	color: #fff;
	font-family: "Departure Mono", monospace;
}

h1 {
	font-size: x-large;
}

.green {
	color: #60d15e;
}

.red {
	color: #d15e5e;
}


p {
	font-size: large;
}
